$border: 1px solid black;
.CommonTitle {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 50px;
}
.query {
  .title {
    @extend .CommonTitle;
  }
  .search {
    margin: 30px auto;
    font-size: 22px;
    width: 960px;
    select {
      font-size: 18px;
      margin: 0 10px;
    }
    .dateList {
      font-size: 0px;
      padding-top: 20px;
      display: flex;
      .dateBlock {
        text-align: center;
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        width: 62px;
        background: rgba($color: #f93, $alpha: 0.2);
        border: 1px solid gray;
        &:hover {
          width: 80px;
          background: rgba($color: #f93, $alpha: 0.3);
          cursor: pointer;
        }
        &.selected {
          background: rgba($color: #f93, $alpha: 0.5);
        }
      }
    }
  }
}
.order {
  .title {
    @extend .CommonTitle;
  }
}
.table {
  margin: 30px auto;
  width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-collapse: collapse;
  .table-head {
    display: flex;
    flex-direction: row;
    border-bottom: $border;
    border-top: $border;
  }
  .table-content {
    display: flex;
    flex-direction: row;
    border-bottom: $border;
  }
  .th {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    background: rgba($color: #999, $alpha: 0.2);
  }
  .button {
    cursor: pointer;
    background: royalblue;
    color: #eee;
    width: 60%;
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
  }
  .td {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 160px;
    height: 40px;
    line-height: 40px;
    border-right: $border;
    &:first-child {
      border-left: $border;
    }
  }
}
