<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="asset/css/login.css">
        <title>登录</title>
    </head>
    <body>
        <div class="form" id="form">
            <div class="tab">
                <div class="tab-block">登录</div>
                <div class="tab-block">注册</div>
            </div>
            <input type="text" placeholder="请输入用户名" v-model="name">
            <input type="password" name="" value="" placeholder="请输入密码" v-model="password">
            <button type="button" name="submit">登录</button>
        </div>
        <script type="text/javascript" src="asset/node_modules/vue/dist/vue.js"></script>
        <script type="text/javascript" src="asset/js/login.js"</script>
    </body>
</html>
